<div ui-tree-handle class="angular-ui-tree-node tree-node-content">
	<a class="btn btn-xs" data-nodrag ng-click="(!node.childList || node.childList.length == 0)? return : toggle(this)">
		<span class="glyphicon"
			ng-class="{'glyphicon-plus': collapsed && node.childList && node.childList.length > 0, 'glyphicon-list-alt': !node.childList || node.childList.length == 0,'glyphicon-minus': !collapsed && node.childList && node.childList.length > 0}"></span>
	</a>
	
	<a class="pull-right btn-xs" tooltip-placement="top-right" uib-tooltip="删除" data-nodrag ng-click="deleteMenu(node)">
		<span class="glyphicon glyphicon-remove"></span>
	</a>
	<a class="pull-right btn-xs" tooltip-placement="top-right" uib-tooltip="新增子菜单" data-nodrag
		ng-click="inputNewMenu(node)" style="margin-right: 4px;">
		<span class="glyphicon glyphicon-plus"></span>
	</a>
	<a class="pull-right btn-xs" tooltip-placement="top-right" uib-tooltip="修改" data-nodrag
		ng-click="showMenuDetail(node)" style="margin-right: 4px;">
		<span class="glyphicon glyphicon-pencil"></span>
	</a>
	<a class="text-overflow">{{node.name}}({{node.orders}})</a>
</div>
<ol ui-tree-nodes="" ng-model="node.childList" ng-class="{hidden: collapsed}">
	<li ng-repeat="node in node.childList" ui-tree-node ng-include="'menuTree'"></li>
</ol>