<div class="modal-header">
	<h4 class="modal-title">文件夹信息</h4>
</div>
<div class="modal-body">
	<form role="form" class="form-horizontal">
		<div class="form-group">
			<div class="col-md-12">
				<label for="name">文件夹名称：</label>
				<input class="form-control" type="text" required="required" ng-model="folder.name" autofocus />
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-disabled="!folder.name" ng-click="saveFolderInfo()">保存</button>
	<button class="btn btn-default" ng-click="cancel()">取消</button>
</div>