<div class="modal-header">
	<h4 class="modal-title">修改密码</h4>
</div>
<div class="modal-body">
	<form role="form" class="form-horizontal">
		<div class="form-group">
			<div class="col-md-12">
				<label for="name">原密码：</label>
				<input class="form-control" type="password" placeholder="请输入原密码" required="required" ng-model="a.oldPassword" />
			</div>
			<div class="col-md-12">
				<label for="name">新密码：</label>
				<input class="form-control" type="password" placeholder="请输入新密码" required="required" ng-model="a.newPassword" />
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-disabled="!a.oldPassword||!a.newPassword" ng-click="changePwd()">保存</button>
	<button class="btn btn-default" ng-click="cancel()">取消</button>
</div>